@font-face {
    font-family: 'Fuzzy Bubbles';
    src: url('../../fonts/fuzzybubbles-regular-webfont.woff2') format('woff2'),
         url('../../fonts/fuzzybubbles-regular-webfont.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'Gochi Hand';
    src: url('../../fonts/gochihand-regular-webfont.woff2') format('woff2'),
         url('../../fonts/gochihand-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Inconsolata';
    src: url('../../fonts/inconsolata-variablefont_wdthwght-webfont.woff2') format('woff2'),
         url('../../fonts/inconsolata-variablefont_wdthwght-webfont.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../../fonts/quicksand-variablefont_wght-webfont.woff2') format('woff2'),
         url('../../fonts/quicksand-variablefont_wght-webfont.woff') format('woff');
}