@use 'fonts';

$charcoal: #212529;
$mauve: #e6d2f0;
$turquoise: #d3f3ef;
$bleu: #ccdbfd;
$saumon: #fae1dd;
$blanc: #fff;

$font-title: 'Gochi Hand', cursive;
$font-text: 'Quicksand', sans-serif;
$font-monospace: 'Inconsolata', monospace;
$font-accent: 'Fuzzy Bubbles', cursive;

$medium: 600px;
$large: 900px;
$xlarge: 1200px;
$xxlarge: 1500px;

$medium-plus: '(min-width: #{$medium})';
$large-plus: '(min-width: #{$large})';
$xlarge-plus: '(min-width: #{$xlarge})';
$xxlarge-plus: '(min-width: #{$xxlarge})';